<footer class="footer bg-dark text-center text-lg-start fixed-bottom">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.admiralbeverage.com/" class="text-white">Admiral Beverage</a>
          </li>
          <li>
            <a href="https://www.pepsi.com/" class="text-white">Pepsi</a>
          </li>
          <li>
            <a href="https://www.mountaindew.com/" class="text-white">Mountain Dew</a>
          </li>
          <li>
            <a href="https://www.keurigdrpepper.com/" class="text-white">Keurig</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled">
          <li>
            <a href="https://www.drpepper.com/s/" class="text-white">Dr Pepper</a>
          </li>
          <li>
            <a href="https://www.aquavistawater.com/" class="text-white">Aquavista</a>
          </li>
          <li>
            <a href="https://www.aquafina.com/en-US/" class="text-white">Aquafina</a>
          </li>
          <li>
            <a href="https://polarseltzer.com/" class="text-white">Polar</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.bubly.com/#/" class="text-white">Bubly</a>
          </li>
          <li>
            <a href="https://www.7up.com/en" class="text-white">7Up</a>
          </li>
          <li>
            <a href="https://www.rootbeer.com/" class="text-white">A & W</a>
          </li>
          <li>
            <a href="https://www.canadadry.com/" class="text-white">Canada Dry</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled">
          <li>
            <a href="https://www.crushsoda.com/" class="text-white">Crush</a>
          </li>
          <li>
            <a href="https://www.squirtsoda.com/" class="text-white">Squirt</a>
          </li>
          <li>
            <a href="https://www.sunkistsoda.com/" class="text-white">Sunkist</a>
          </li>
          <li>
            <a href="https://findyournorthwest.com/clients/merchants-craft/" class="text-white">Merchant's Craft</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright design by Cade Hansen
  </div>
</footer>