<h1>Editing trailer</h1>
<br>
<%= render "form", trailer: @trailer %>

<br>

<div>
  <%= link_to "Show this trailer", @trailer, class: "btn btn-dark" %> |
  <%= link_to "Back to trailers", trailers_path, class: "btn btn-dark" %> |
  <%= link_to "Delete this trailer", @trailer,  data: { "turbo-method": :delete, turbo_confirm: 'Are you sure you want to delete trailer?' }, class: "btn btn-danger" %>
</div>
